<template>
  <div v-if="bot">
    <!-- صورة , اسم  -->
    <v-row justify="center" class="mt-5">
      <v-img :src="bot.logo" max-width="125" />
    </v-row>
    <v-row justify="center">
      <v-col class="text-center">
        <h3>{{ bot.name }}</h3>
        <h5 dir="ltr" class="grey--text">
          <a :href="`https://t.me/${bot.username}`">
            @{{ bot.username }}
          </a>
        </h5>
      </v-col>
    </v-row>

    <!-- ملفات انتظار  -->
    <!-- عدد ملفات , عدد مجلدات  -->
    <v-row justify="center">
      <v-col cols="12" md="4">
        <v-card rounded="lg" class="shadowz ">
          <v-card-title class="justify-center">
            <h3 class="blue-grey--text">
              {{ bot.users.length }}
            </h3>
          </v-card-title>
          <v-card-subtitle class="text-center">
            <h3>المستخدمين</h3>
          </v-card-subtitle>
          <v-icon size="65" class="icon-card" color="success ">
            mdi-account-group-outline
          </v-icon>
        </v-card>
      </v-col>
      <v-col cols="12" md="4">
        <v-card rounded="lg" class="shadowz ">
          <v-card-title class="justify-center">
            <h3 class="blue-grey--text">
              {{ bot.folders_count }}
            </h3>
          </v-card-title>
          <v-card-subtitle class="text-center">
            <h3>المجلدات</h3>
          </v-card-subtitle>
          <v-icon size="65" class="icon-card" color="info ">
            mdi-folder-check-outline
          </v-icon>
        </v-card>
      </v-col>
      <v-col cols="12" md="4">
        <v-card rounded="lg" class="shadowz ">
          <v-card-title class="justify-center">
            <h3 class="blue-grey--text">
              {{ bot.files_count }}
            </h3>
          </v-card-title>
          <v-card-subtitle class="text-center">
            <h3>الملفات</h3>
          </v-card-subtitle>
          <v-icon size="65" class="icon-card" color="red ">
            mdi-file-pdf-box
          </v-icon>
        </v-card>
      </v-col>
    </v-row>
    <!-- مستخدمين  -->
    <v-data-table
      dense
      :headers="head"
      :items="users"
      class="my-12"
      :mobile-breakpoint="0"
    >
      <template #[`top`]>
        <v-row class="mx-10 py-4">
          <h3>المستخدمين</h3>
          <v-spacer />
          <v-text-field v-bind="textInput" v-model="searchUser" label="بحث" append-icon="mdi-magnify" />
        </v-row>
      </template>
      <template #[`item.index`]="{item , index}">
        {{ index }}
        {{ item.id? '' : ' ' }}
      </template>
      <template #[`item.avatar`]="{item}">
        <v-avatar class="my-1" color="grey lighten-2">
          <v-img v-if="item.avatar" :src="item.avatar" @click="showImg(item.avatar)" />
          <h4 v-else>
            {{ item.first_name.substr(0,2) }}
          </h4>
        </v-avatar>
      </template>

      <template #[`item.name`]="{item}">
        {{ item.first_name }} {{ item.last_name }}
      </template>
      <template #[`item.control`]="{item}">
        <v-btn
          v-if="item.type !== 'owner'"
          small
          :color="!item.active ? 'error' : 'success'"
          elevation="0"
          rounded
          @click="block(item.id)"
        >
          <span v-if="!item.active">
            <v-icon>mdi-cancel</v-icon>
            محظور
          </span>
          <span v-else>
            <v-icon>mdi-check-circle-outline</v-icon>
            مفعل
          </span>
        </v-btn>
      </template>
    </v-data-table>
    <!-- تصفح -->

    <v-btn
      fixed
      v-bind="btn"
      :block="false"
      top
      left
      class="mt-16"
      color="success"
      @click="goToBot"
    >
      تصفح المنصة <v-icon>mdi-arrow-top-left-thick</v-icon>
    </v-btn>
    <v-dialog v-model="imgModel" max-width="450">
      <v-card rounded="xl">
        <v-img :src="imgSrc" />
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  layout: 'cpanel',
  data () {
    return {
      bot: null,
      imgModel: false,
      imgSrc: '',
      searchUser: '',
      head: [
        { text: '#', value: 'index', sortable: false },
        { text: '^', value: 'avatar', sortable: false },
        { text: 'الاسم', value: 'name', sortable: false },
        { text: 'اسم المستخدم', value: 'username' },
        { text: 'مجلدات ', value: 'folders_count' },
        { text: 'ملفات', value: 'files_count' },
        { text: 'خيارات', value: 'control' }
      ]
    }
  },
  async fetch () {
    this.bot = await this.get('bot/get/' + this.$route.params.id)
  },
  computed: {
    users () {
      const users = this.bot?.users
      return users?.filter(item => item.username?.includes(this.searchUser) || item.first_name?.includes(this.searchUser))
    //   return Object.values(this.bot.users).some(v => v && v.toString().toLowerCase().includes(this.search))
    }
  },
  methods: {
    async goToBot () {
      const id = (Number)(this.$route.params.id)
      if (this.user.bot_id === id) {
        this.$router.push('/')
      } else {
        await this.post('changeBot', { id })
        window.location.href = '/'
      }
    },
    showImg (img) {
      this.imgSrc = img
      this.imgModel = true
    },
    async block (id) {
      await this.post('client/block', { id })
      this.$fetch()
    }
  }
}
</script>

<style>
 .icon-card{
     position: absolute !important;
     top: 5px;
     right: 5px;
     opacity: 0.14;
 }
</style>
