<template>
  <div>
    <h3 class="mb-5">
      بوت جديد
    </h3>
    <v-row justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-form ref="addBot" @submit.prevent="addBot">
          <v-text-field v-bind="textInput" v-model="bot.name" :rules="[...required]" label="اسم البوت" />
          <v-text-field v-bind="textInput" v-model="bot.logo" :rules="[...required]" label="لوغو " />
          <v-text-field v-bind="textInput" v-model="bot.username" :rules="[...required]" label="اسم المستخدم" />
          <v-textarea v-bind="textInput" v-model="bot.token" :rules="[...required]" label="توكن" />
          <v-btn type="submit" v-bind="btn" color="success">
            اضافة
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'NewBot',
  layout: 'cpanel',
  data () {
    return {
      bot: {}
    }
  },
  methods: {
    async addBot () {
      if (!this.$refs.addBot.validate()) {
        return
      }
      try {
        await this.post('bot/add', this.bot)
        this.$router.push = '/cpanel/bot/all'
      } catch {
      }
    }
  }
}
</script>

<style>

</style>
