<template>
  <div>
    <h3 class="mb-5">
      البوتات
    </h3>
    <v-row justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-list>
          <v-list-item v-for="item in bots" :key="item.id" :to="`/cpanel/bot/get/${item.id}`">
            <v-list-item-avatar>
              <v-avatar>
                <v-img :src="item.logo" />
              </v-avatar>
            </v-list-item-avatar>
            <v-list-item-title>
              <h4>{{ item.name }}</h4>
            </v-list-item-title>
            <v-list-item-action>
              <h5>{{ item.users_count }}</h5>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'AllBot',
  layout: 'cpanel',
  data () {
    return {
      bots: null
    }
  },
  async fetch () {
    this.bots = await this.get('bot/all')
  }
}
</script>

<style>

</style>
