<template>
  <v-text-field
    filled
    label="اسم المستخدم"
    dense
    autofocus
    append-icon="mdi-account"
    rounded
  />
</template>

<script>
export default {

}
</script>

<style>

</style>
