<template>
  <div>
    <add-folder :parent-id="parentId" :status="addFolderState" :btnz="false" @refresh="$emit('refresh')" @setState="setState" />
    <add-file :parent-id="parentId" :status="addFileState" @refresh="$emit('refresh')" @setState="setStateFile" />
    <v-speed-dial
      v-model="fab"
      fixed
      :style="(itemsIsCut.folder.length || itemsIsCut.file.length) ? 'bottom: 110px' : ''"
      bottom
      right
      direction="top"
      transition="slide-y-reverse-transition"
    >
      <template #[`activator`]>
        <v-btn v-model="fab" color="primary" fab>
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-btn fab color="warning" small @click="addFileState = true">
        <v-icon>mdi-file</v-icon>
        <small class="btn-title">ملف جديد</small>
      </v-btn>
      <v-btn fab color="info" small @click="addFolderState = true">
        <v-icon>mdi-folder</v-icon>
        <small class="btn-title">مجلد جديد</small>
      </v-btn>
    </v-speed-dial>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import AddFile from './addFile.vue'
import AddFolder from './AddFolder.vue'
export default {
  components: { AddFolder, AddFile },
  props: {
    parentId: {
      type: Number, default: 0
    }
  },
  data () {
    return {
      fab: false,
      addFolderState: false,
      addFileState: false
    }
  },
  computed: {
    ...mapGetters(['itemsIsCut'])
  },
  methods: {
    setState (val) {
      this.addFolderState = val
    },
    setStateFile (val) {
      this.addFileState = val
    }
  }
}
</script>

<style>
.btn-title{
    position: absolute;
    right: 50px;
    top: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px 10px;
    border-radius: 20px;
}
</style>
