<template>
  <v-dialog v-model="state" max-width="320" persistent :retain-focus="true">
    <template #[`activator`]="{on}">
      <v-icon v-if="btnz" :size="$vuetify.breakpoint.mobile ? 160 : 160" color="warning " class="icon-shadow" v-on="on">
        mdi-folder-plus
      </v-icon>
    </template>
    <v-card>
      <v-card-title>
        <h3>مجلد جديد</h3>
      </v-card-title>
      <v-card-text>
        <v-form ref="add" lazy-validation @submit.prevent="addFolder">
          <v-text-field
            :id="randId()"
            :key="randId()"
            v-model="folder.name"
            autofocus
            :rules="required"
            v-bind="textInput"
            label="اسم المجلد"
          />
          <!-- <v-switch v-model="folder.material" label="مجلد مادة" /> -->
          <v-row class="mb-2">
            <v-col>
              <v-btn type="submit" v-bind="btn" color="success">
                اضافة
              </v-btn>
            </v-col>
            <v-col>
              <v-btn v-bind="btn" color="white" @click="state = false; $emit('setState')">
                الغاء
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
        <!-- <small class="grey--text lighten-2">
          * مجلد المادة يكون باسم المادة واي مجلد داخله (مثلا ملفات العملي) هو مجلد عادي ليس مجلد مادة
        </small> -->
        <br>
        <small class="grey--text lighten-2">
          * يمكن اضافة مجلدات رائيسية وفرعية
        </small>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    parentId: {
      default: 0,
      type: Number
    },
    status: {
      default: false,
      type: Boolean
    },
    btnz: {
      default: true,
      type: Boolean
    }
  },
  data () {
    return {
      // valid: true,
      state: this.status,
      folder: {
        name: null,
        material: 1,
        parent_id: this.parentId
      }
    }
  },
  watch: {
    status (val) {
      this.state = val
    }
  },
  methods: {
    async addFolder () {
      if (!this.$refs.add.validate()) { return }
      this.folder.material = Number(this.folder.material)
      try {
        await this.post('/folder/add', this.folder)
        this.folder.name = null
        this.state = false
        this.$emit('refresh')
        this.$emit('setState')
      } catch {

      }
    }
  }
}
</script>

<style>
.icon-shadow{
    filter: drop-shadow(0px 0px 12px   rgb(225 150 66 / 0.15));
}
</style>
