<template>
  <v-dialog v-model="fileDialog" persistent :retain-focus="false" max-width="340">
    <v-card>
      <v-card-title>رفع ملفات</v-card-title>
      <v-card-text>
        <v-form @submit.prevent="uploadAndSaveFile">
          <v-file-input
            v-bind="textInput"
            v-model="files"
            placeholder="اختر الملفات"
            multiple
            append-icon="mdi-file-document-multiple-outline"
          />
          <v-textarea v-model="description" v-bind="textInput" placeholder="وصف الملفات , مثلا: ملفات عملي (اختياري)" />

          <v-row class="mb-2">
            <v-col>
              <v-btn type="submit" v-bind="btn" color="success">
                اضافة
              </v-btn>
            </v-col>
            <v-col>
              <v-btn v-bind="btn" color="white" @click="fileDialog = false; $emit('setState')">
                الغاء
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    parentId: {
      default: 0,
      type: Number
    },
    status: {
      default: false,
      type: Boolean
    }
  },
  data () {
    return {
      fileDialog: this.status,
      files: null,
      description: null
    }
  },
  watch: {
    status (val) {
      this.fileDialog = val
    }
  },
  methods: {
    async uploadAndSaveFile () {
      const data = new FormData()
      data.append('folder_id', this.parentId)
      data.append('description', this.description)
      for (let i = 0; i < this.files.length; i++) {
        data.append('file', this.files[i])
        await this.post('file/add', data)
        await this.timeoutz(200)
      }
      this.fileDialog = false
      this.$emit('refresh')
      this.$emit('setState')
    }
  }
}
</script>

<style>

</style>
