<template>
  <div>
    <v-app-bar
      color="white"
      class="shadowz"
      app
    >
      <v-app-bar-nav-icon class="blue-grey--text" @click="state = !state" />
      <v-row class="mr-2 ml-2">
        <v-menu v-if="folders.length" :close-on-content-click="false">
          <template #activator="{on}">
            <v-btn icon v-on="on">
              <div class="dot" />
              <v-icon color="blue-grey">
                mdi-bell
              </v-icon>
            </v-btn>
          </template>
          <v-list class="px-5 rounded-lg" dense rounded>
            <v-list-item-subtitle>
              <small class="grey--text"> {{ user.type == 'client' ? 'جاري معالجة بياناتك:' : 'بيانات بانتظار الموافقة' }}</small>
            </v-list-item-subtitle>
            <v-list-group v-for="folder in folders" :key="folder.id">
              <template #activator>
                <v-list-item-title>
                  <h4>{{ folder.name }}</h4>
                </v-list-item-title>
              </template>
              <v-list-item v-if="folder.files_wait && !folder.files_wait.length" dense>
                <v-list-item-title>
                  <h6 class="grey--text">
                    بدون ملفات
                  </h6>
                </v-list-item-title>
              </v-list-item>
              <v-list-item v-for="file in folder.files_wait" :key="file.id" dense>
                <v-list-item-title>
                  <h5 class="grey--text">
                    {{ file.name.substr(0,30) }}
                  </h5>
                </v-list-item-title>
              </v-list-item>
            </v-list-group>
          </v-list>
        </v-menu>
      </v-row>
      <v-spacer />
      <v-app-bar-title>
        <v-text-field
          v-model="search"
          v-bind="textInput"
          placeholder="بحث"
          append-icon="mdi-magnify"
          class="mt-6 ml-4"
          @input="startSearch"
        />
        <v-card v-if="search.length > 2 && (folderRes.length || fileRes.length)" class="search-div shadowz">
          <h6>نتائج البحث:</h6>
          <div v-if="folderRes.length">
            <h6 class="grey--text lighten-2">
              المجلدات
            </h6>
            <v-list>
              <v-list-item v-for="folder in folderRes" :key="folder.id" @click="goToFolder(folder.id)">
                <v-list-item-avatar>
                  <v-icon color="warning">
                    mdi-folder
                  </v-icon>
                </v-list-item-avatar>
                <v-list-item-title>{{ folder.name }}</v-list-item-title>
                <v-list-item-subtitle>{{ folder.parent_name }}</v-list-item-subtitle>
              </v-list-item>
            </v-list>
          </div>
          <v-divider />
          <div v-if="fileRes.length">
            <h6 class="grey--text lighten-2">
              الملفات
            </h6>
            <v-list>
              <v-list-item-avatar>
                <v-icon color="error">
                  mdi-file
                </v-icon>
              </v-list-item-avatar>
              <v-list-item v-for="file in fileRes" :key="file.id">
                <v-list-item-title>{{ file.name }}</v-list-item-title>
                <v-list-item-subtitle>{{ file.parent_name }}</v-list-item-subtitle>
              </v-list-item>
            </v-list>
          </div>
        </v-card>
      </v-app-bar-title>
    </v-app-bar>
    <navigition
      :state="
        state"
      @setState="setState"
    />
  </div>
</template>

<script>
import Navigition from './Navigition.vue'
export default {
  name: 'AppBar',
  components: {
    Navigition
  },
  data () {
    return {
      search: '',
      state: this.$vuetify.breakpoint.mdAndUp || false,
      lastSearch: null,
      folders: [],
      searchData: []
    }
  },
  async fetch () {
    this.folders = await this.get('/folder/wait')
  },
  computed: {
    folderRes () {
      return this.searchData?.folders?.filter(item => item.name.includes(this.search)) || []
    },
    fileRes () {
      return this.searchData?.files?.filter(item => item.name.includes(this.search)) || []
    }
  },
  methods: {
    setState (val) {
      this.state = val
    },
    goToFolder (id) {
      this.search = ''
      this.lastSearch = null
      this.$router.push(`/folder/${id}`)
    },
    async startSearch (val) {
      if (this.search.length === 3 && this.lastSearch !== val) {
        this.searchData = await this.get(`search/${val}`)
        this.lastSearch = val
      }
    },

    async logout () {
      await this.$auth.logout()
      window.location.href = '/auth/login'
    }

  }
}
</script>

<style scoped>
.search-div{
  position: fixed;
  width: 300px;
  padding: 10px;
  border: 2px solid #efefef;
  top: 70px;
  left: 5px;
}
.dot{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ff0050;
  position: absolute;
  top: 0px;
  right: 8px;
}
.dot::after{
  content:  '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
   position: absolute;
   border: solid #ff0050 1px;
   z-index: -1;
  top: 0px;
  right: 0px;
  animation: dott 1.4s infinite ease-in-out;
}
@keyframes dott {
  from {
      opacity: 1;
      transform: scale(0.5);
    }
  to {
    opacity: 0;
      transform: scale(3);
  }
}
</style>
