<template>
  <v-dialog v-model="state" max-width="320" persistent :retain-focus="true">
    <v-card>
      <v-card-title>
        <h3><v-icon>mdi-folder-edit</v-icon> {{ folder.name }}</h3>
      </v-card-title>
      <v-card-text>
        <v-form ref="edit" lazy-validation @submit.prevent="editFolder">
          <v-text-field
            :id="randId()"
            :key="randId()"
            v-model="folder.name"
            autofocus
            :rules="required"
            v-bind="textInput"
            label="اسم المجلد"
          />
          <v-row class="mb-0">
            <v-col>
              <v-btn type="submit" v-bind="btn" color="success">
                حفظ
              </v-btn>
            </v-col>
            <v-col>
              <v-btn v-bind="btn" color="white" @click="state = false; $emit('setState')">
                الغاء
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    folderItem: {
      type: Object,
      default: () => {}
    },
    status: {
      default: false,
      type: Boolean
    }

  },
  data () {
    return {
      state: this.status,
      folder: { ...this.folderItem }
    }
  },
  watch: {
    status (val) {
      this.state = val
    }
  },
  methods: {
    async editFolder () {
      if (!this.$refs.edit.validate()) { return }
      this.folder.material = Number(this.folder.material)
      try {
        await this.post('/folder/edit', this.folder)
        this.state = false
        this.$emit('refresh', this.folder.name)
        this.$emit('setState')
      } catch {

      }
    }
  }

}
</script>

<style>

</style>
