<template>
  <v-list-item :disabled="cut" class="white rounded-xl mb-2 shadowz">
    <v-list-item-avatar>
      <v-icon :color="generateAttr('color')">
        {{ generateAttr('icon') }}
      </v-icon>
    </v-list-item-avatar>

    <v-list-item-content>
      <v-list-item-title>{{ file.name }}</v-list-item-title>
      <v-list-item-subtitle><small class="grey--text text--lighten-1">{{ file.created_at }}</small></v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action>
      <v-list-item-action-text>
        <v-btn icon :href="baseUrl + file.path" target="_blank">
          <v-icon>mdi-download</v-icon>
        </v-btn>
        <v-menu transition="y" bottom>
          <template #[`activator`]="{on}">
            <v-btn class="btn-action" icon v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="cutItem">
              <v-list-item-title>
                <v-icon small>
                  mdi-content-cut
                </v-icon>
                قص
              </v-list-item-title>
            </v-list-item>
            <v-list-item v-if="user.type === 'owner'" @click="deleteItem">
              <v-list-item-title>
                <v-icon small>
                  mdi-delete-empty-outline
                </v-icon>
                حذف
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-list-item-action-text>
    </v-list-item-action>
  </v-list-item>
</template>

<script>
export default {
  name: 'FileCom',
  props: {
    file: {
      default: () => {},
      type: Object
    }
  },
  computed: {
    itemsIsCut () {
      return JSON.parse(JSON.stringify(this.$store.getters.itemsIsCut))
    },
    cut () {
      return this.itemsIsCut.file.length ? Boolean(this.itemsIsCut.file.find(item => item === this.file.id)) : false
    }
  },
  methods: {
    cutItem () {
      this.itemsIsCut.file.push(this.file.id)
      this.$store.commit('SET_CUT', this.itemsIsCut)
      localStorage.setItem('cutItems', JSON.stringify(this.itemsIsCut))
    },
    async deleteItem () {
      await this.post('/file/delete', { id: this.file.id })
      this.$emit('fetch')
    },
    generateAttr (attr) {
      if (this.file !== {}) {
        const extSp = this.file.path.split('.')
        const ext = extSp[extSp.length - 1]
        switch (ext) {
          case 'png':
          case 'jpg': return attr === 'color' ? 'warning' : 'mdi-image'
          case 'pdf' : return attr === 'color' ? 'error' : 'mdi-file-pdf-box'
          default : return attr === 'color' ? 'blue-grey' : 'mdi-file'
        }
      }
      return attr === 'color' ? 'blue-grey' : 'mdi-file'
    }
  }
}
</script>

<style>

</style>
