<template>
  <div class="folder">
    <div :class="cut ? 'folder-shape op' : 'folder-shape'" />
    <!-- :size="$vuetify.breakpoint.mobile ? 160 : 200" -->
    <NuxtLink :to="cut ? '' : '/folder/'+folder.id">
      <v-icon :disabled="cut" size="160" color="white darken-2" class="icon-shadow pa-0 ma-0">
        mdi-folder
      </v-icon>
      <v-img v-if="!folder.material" src="/image/folder.svg" class="folder-logo" width="25" />
      <v-img v-else src="/image/file.svg" class="folder-logo" width="25" />

      <v-tooltip bottom>
        <template #activator="{ on }">
          <h6 class="text-center title-folder" v-on="on">
            {{ name || folder.name.substr(0,23) }}{{ folder.name.length > 23 ? 'ـ...' : '' }}
          </h6>
        </template>
        <span>{{ name || folder.name }}</span>
      </v-tooltip>

      <small class="subtitle-folder grey--text">

        <span> {{ folder.folders_count || 0 }} مجلد </span>
        <span> - {{ folder.files_count || 0 }} ملف </span>
      </small>
    <!-- <div class="avatar-group">
        <v-avatar size="26" color="error">
          1
        </v-avatar>
        <v-avatar size="26" color="success" style="position:absolute; right: 15px">
          2
        </v-avatar>
        <v-avatar size="26" color="info">
          3
        </v-avatar>
        <v-avatar size="26" color="warning" style="position:absolute; right: 52px">
          +20
        </v-avatar>
      </div> -->
    </NuxtLink>
    <v-menu v-if="folder.user_id === user.id || user.type === 'owner'" v-model="menu" transition="y" bottom close-on-click>
      <template #[`activator`]="{on}">
        <v-btn :disabled="cut" class="btn-action" icon v-on="on">
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>
      <v-list dense class="py-0">
        <v-list-item dense class="py-0" @click="cutItem">
          <v-list-item-avatar height="20">
            <v-icon small>
              mdi-content-cut
            </v-icon>
          </v-list-item-avatar>
          <v-list-item-title>قص</v-list-item-title>
        </v-list-item>
        <v-list-item v-if="user.type === 'owner'" dense class="py-0" @click="editItem">
          <v-list-item-avatar height="20">
            <v-icon small>
              mdi-pencil
            </v-icon>
          </v-list-item-avatar>
          <v-list-item-title>تعديل</v-list-item-title>
        </v-list-item>
        <v-dialog v-if="user.type === 'owner'" v-model="deleteDialog" persistent :retain-focus="false" max-width="320">
          <template #[`activator`]="{on}">
            <v-list-item dense class="py-0" v-on="on">
              <v-list-item-avatar height="20">
                <v-icon small>
                  mdi-trash-can
                </v-icon>
              </v-list-item-avatar>
              <v-list-item-title>حذف</v-list-item-title>
            </v-list-item>
          </template>
          <v-card>
            <v-card-title>
              <h4>حذف</h4>
            </v-card-title>
            <v-card-text>
              سيتم حذف المجلد {{ folder.name }} وكل محتوياته !
              <v-row>
                <v-col>
                  <v-btn v-bind="btn" color="error" @click="deleteItem">
                    حذف
                  </v-btn>
                </v-col>
                <v-col>
                  <v-btn v-bind="btn" color="withe" @click="deleteDialog = false">
                    الغاء
                  </v-btn>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-list>
    </v-menu>
    <edit-folder :folder-item="folder" :status="editStatus" @setState="editFolderStatue" @refresh="setName" />
  </div>
</template>

<script>
import EditFolder from './EditFolder.vue'
export default {
  name: 'FolderCom',
  components: { EditFolder },
  props: {
    folder: {
      default: () => {},
      type: Object
    }
  },
  data () {
    return {
      menu: false,
      editStatus: false,
      name: null,
      deleteDialog: false
    }
  },
  computed: {
    itemsIsCut () {
      return JSON.parse(JSON.stringify(this.$store.getters.itemsIsCut))
    },
    cut () {
      return this.itemsIsCut.folder.length ? Boolean(this.itemsIsCut.folder.find(item => item === this.folder.id)) : false
    }
  },
  methods: {
    cutItem () {
      this.itemsIsCut.folder.push(this.folder.id)
      this.$store.commit('SET_CUT', this.itemsIsCut)
      localStorage.setItem('cutItems', JSON.stringify(this.itemsIsCut))
    },
    editFolderStatue (val) {
      this.editStatus = val
    },
    setName (val) {
      this.name = val
    },
    editItem () {
      this.editStatus = true
    },
    async deleteItem () {
      await this.post('/folder/delete', { id: this.folder.id })
      this.deleteDialog = false
      this.menu = false
      this.$emit('refresh')
    }
  }
}
</script>

<style scoped>
.folder{
    position: relative;
    width: 160px;
    margin-right: auto;
    margin-left: auto;
}
.title-folder{
    position: absolute;
    top: 55px;
    right: 20px;
}
.subtitle-folder{
    position: absolute;
    top: 83px;
    right: 20px;
}
.icon-shadow{
    filter: drop-shadow(0px 0px 12px   rgb(0 0 0 / 0.15));
}
.folder-logo{
    position: absolute;
    left: 45px;
    top: 30px;
}
.avatar-group{
    opacity: 0.7;
    position: absolute;
    bottom: 32px;
    right: 20px;
}
.btn-action{
  position: absolute;
  top: 24px;
  left: 10px;
}
.folder-shape{
  width: 80px;
  height: 30px;
  background-color: rgb(207, 215, 243);
  border-radius: 10px;
  border-top: 3px solid rgb(217, 225, 250);;
  position: absolute;
  top: 30px;
  right: 17px;
  transform: rotateZ(-10deg);
}
.folder-shape.op{
  background-color: rgba(195, 205, 241, 0.185);
}

.theme--light.v-icon.v-icon.v-icon--disabled {
  color: rgba(229, 240, 250, 0.418) !important;
}
</style>>
