<template>
  <v-footer v-if="itemsIsCut.folder.length || itemsIsCut.file.length" app fixed color="primary" class="py-5 rounded-t-lg opc-08">
    <v-row>
      <v-col>
        <v-btn v-bind="btn" color="warning" @click="pasteItems">
          <v-icon>mdi-clipboard-outline</v-icon>
          لصق هنا
        </v-btn>
      </v-col>
      <v-col>
        <v-btn v-bind="btn" color="white" @click="clearCutItems">
          تراجع
        </v-btn>
      </v-col>
      <v-col cols="12" md="6" class="py-0 pt-md-4">
        <small class="white--text">عدد العناصر المقصوصة :  </small>
        <b class="warning--text"><v-icon color="warning">mdi-folder</v-icon>{{ itemsIsCut.folder.length }}</b>
        <b class="warning--text pr-5"><v-icon color="white">mdi-file</v-icon>{{ itemsIsCut.file.length }}</b>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    id: {
      default: 0,
      type: Number
    }
  },
  computed: {
    ...mapGetters(['itemsIsCut'])
  },
  methods: {
    clearCutItems () {
      this.$store.commit('SET_CUT', { folder: [], file: [] })
      localStorage.removeItem('cutItems')
    },
    async pasteItems () {
      const folders = [...new Set(this.itemsIsCut.folder)]
      const files = [...new Set(this.itemsIsCut.file)]
      for (let i = 0; i < folders.length; i++) {
        await this.post('folder/edit', { id: folders[i], parent_id: this.id })
        await this.timeoutz(300)
      }
      for (let i = 0; i < files.length; i++) {
        await this.post('file/edit', { id: files[i], folder_id: this.id })
        await this.timeoutz(300)
      }
      this.clearCutItems()
      this.$emit('refresh')
    }
  }
}
</script>

<style>
.opc-08{
    opacity: 0.9;
}
</style>
