<template>
  <div>
    <v-navigation-drawer
      v-model="seState"
      width="280"
      color="primary"
      class="shadowz rounded-bl-lg"
      dark
      fixed
      right
      app
    >
      <client-only>
        <v-card v-if="user" color="transparent" flat>
          <v-row justify="center" class="pt-12">
            <v-avatar color="grey lighten-2" size="60">
              <v-img v-if="user.avatar" :src="`${user.avatar}`" max-width="50" max-height="50" />
              <v-img v-else src="/image/avatar/user.svg" max-width="50" max-height="50" />
            </v-avatar>
          </v-row>
          <v-card-title class="justify-center">
            <v-col class="text-center">
              <h3 class="text-center warning--text text--lighten-2">
                <v-icon v-if="user.type !== 'client'">
                  mdi-star-circle
                </v-icon>
                {{ user.first_name }} {{ user.last_name }}
              </h3>
              <v-btn
                x-small
                rounded
                color="warning lighten-2"
                elevation="0"
                to="/auth/logout"
              >
                <v-icon x-small>
                  mdi-logout
                </v-icon>
                تسجيل الخروج
              </v-btn>
            </v-col>
          </v-card-title>
          <v-divider />
        </v-card>
        <v-list rounded class="mt-8">
          <template v-for="(item ,index) in items">
            <v-list-item
              v-if="!item.auth || item.auth === user.type"
              :key="item.to"
              exact-path
              :to="item.to"
              dense
            >
              <v-list-item-avatar height="30px">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-avatar>

              <v-list-item-content class="my-0 py-0">
                <v-list-item-title>{{ item.title }} </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-group v-else-if="item.items" :key="index" active-class="white--text">
              <template #activator>
                <v-list-item-avatar height="30px">
                  <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-avatar>

                <v-list-item-content class="my-0 py-0">
                  <v-list-item-title>
                    {{ item.title }}
                  </v-list-item-title>
                </v-list-item-content>
              </template>
              <template v-for="itemg in item.items">
                <v-list-item
                  :key="itemg.to"
                  exact-path
                  :to="itemg.to"
                  dense
                  active-class="white--text"
                  class="mr-5"
                >
                  <v-list-item-avatar height="30px">
                    <v-icon>{{ itemg.icon }}</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content class="my-0 py-0">
                    <v-list-item-title>{{ itemg.title }} </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-list-group>
          </template>
        </v-list>
      </client-only>
      <v-footer absolute color="primary" dark>
        <v-col class="text-center">
          <v-divider class="mb-5" />

          <p class="hl">
            برمجة وتصميم
          </p>
          <span class="warning--text text--lighten-2"> زياد العمر</span>
          <v-icon small>
            mdi-copyright
          </v-icon> {{ new Date().getFullYear() }}
          <div>
            <v-btn icon href="https://t.me/ziadomar" target="_blank">
              <v-icon>
                mdi-send-circle
              </v-icon>
            </v-btn>
            <v-btn icon href="https://fb.com/ziadhz7" target="_blank">
              <v-icon>
                mdi-facebook
              </v-icon>
            </v-btn>
            <v-btn icon href="https://wa.me/963988889447" target="_blank">
              <v-icon>
                mdi-whatsapp
              </v-icon>
            </v-btn>
            <v-btn icon href="https://ziadomar.com" target="_blank">
              <v-icon>
                mdi-web
              </v-icon>
            </v-btn>
          </div>
        </v-col>
      </v-footer>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: 'NavBar',
  props: {
    state: {
      type: Boolean
    }
  },
  data () {
    return {
      items: [
        { title: 'الرئيسية', icon: 'mdi-home', to: '/' },
        { title: 'لوحة التحكم', icon: 'mdi-card-account-details-star', to: '/cpanel/bot/all', auth: 'owner' },
        { title: ' قيد الانتظار', icon: 'mdi-alert-decagram-outline', to: '/wait', auth: 'owner' },
        { title: 'الملف الشخصي', icon: 'mdi-cogs', to: '/setting' }
      ]
    }
  },
  computed: {
    seState: {
      get () {
        return this.state
      },
      set (val) {
        this.$emit('setState', val)
      }
    }
  },
  methods: {
    async logouta () {
      await this.$auth.logout()
      window.location.href = '/auth/login'
    }
  }
}
</script>

<style scoped>
.hl{
  line-height: 0px;
}
</style>
