<template>
  <div id="dropzone" class=" blue-grey">
    <div id="boxtitle" class="text-center blue-grey--text text--darken-3">
      <!-- <input
        id="inpFile"
        webkitdirectory
        directory
        multiple
        allowdirs
        type="file"
      > -->
      <h3 class="text-center">
        <v-icon size="70" color="blue-grey darken-3">
          mdi-upload
        </v-icon>
        اسحب وافلت الملفات او المجلدات هنا
      </h3>
      <v-row justify="center" class="mx-12 mt-5">
        <v-progress-linear
          v-show="stateLine"
          rounded
          :buffer-value="stateLine"
          color="success"
          height="25"
          background-opacity="1"
        >
          <h3>{{ Math.round(stateLine-1) }} %</h3>
        </v-progress-linear>
        <h3 v-if="successMessage" class="success--text">
          تم رفع العناصر بنجاح , يرجى تحديث الصفحة
        </h3>
      </v-row>
    </div>
    <v-dialog
      v-model="loading"
      persistent
      width="350"
      overlay-color="white"
      class="opacity"
    >
      <v-card dark>
        <v-card-title>
          <h4>جاري رفع الملفات</h4>
          <v-progress-circular
            size="60"
            color="white"
            width="6"
            indeterminate
          />
        </v-card-title>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'UploadComponent',
  props: {
    parentId: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      stateLine: 0,
      folders: [],
      items: [],
      successMessage: false,
      loading: false
    }
  },
  mounted: function mounted () {
    const dropzone = document.getElementById('dropzone')
    // const inp = document.getElementById('inpFile')
    const self = this
    /* eslint-disable-next-line */
     var items = []
    dropzone.addEventListener(
      'dragover',
      function (event) {
        event.preventDefault()
      },
      false
    )
    dropzone.addEventListener(
      'drop',
      async function (event) {
        event.preventDefault()
        await uploadFolder(event)
      },
      false
    )
    // inp.addEventListener(
    //   'change',
    //   async function (event) {
    //     event.preventDefault()
    //     await uploadFolderChange(event)
    //   },
    //   false
    // )
    async function uploadFolder (event) {
      const itemz = event.dataTransfer.items
      // console.log(itemz)
      event.preventDefault()
      for (let i = 0; i < itemz.length; i++) {
        const item = await itemz[i].webkitGetAsEntry()
        items.push(item)
        if (item.isDirectory) {
          await handelFolder(item)
        }
      }
      await slep(500)
      self.items = items
      items = []
      self.handelItems()
    }
    // async function uploadFolderChange (event) {
    //   const itemz = event.target
    //   console.log(itemz)
    //   event.preventDefault()
    //   for (let i = 0; i < itemz.length; i++) {
    //     console.log(itemz[i])
    //     const item = await itemz[i].webkitGetAsEntry()
    //     items.push(item)
    //     if (item.isDirectory) {
    //       await handelFolder(item)
    //     }
    //   }
    //   await slep(500)
    //   self.items = items
    //   items = []
    //   self.handelItems()
    // }
    function slep (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    }

    function handelFolder (item) {
      const directoryReader = item.createReader()
      directoryReader.readEntries(function (entries) {
        for (let i = 0; i < entries.length; i++) {
          items.push(entries[i])
          if (entries[i].isDirectory) {
            handelFolder(entries[i])
          }
        }
      })
    }
  },
  methods: {
    // upload (items) {
    //   console.log(items)
    // },
    async handelItems () {
      this.successMessage = false
      const p = parseFloat(100 / this.items.length)
      const s = 100 - (p * this.items.length)
      this.stateLine += s + 1
      for (let i = 0; i < this.items.length; i++) {
        await this.handelItem(this.items[i], p)
      }
    },
    async handelItem (item, jump) {
      const self = this
      const path = item.fullPath.split('/')

      if (item.isDirectory) {
        let parentId = this.parentId
        if (path.length > 2) {
          const fullPath = path.splice(0, (path.length - 1)).join('/')
          parentId = this.folders.find(item => item.fullPath === fullPath)?.id || this.parentId
        }
        let folder = await this.$axios.post('folder/add', { name: item.name, parent_id: parentId, material: 1 })
        folder = folder.data.data
        folder.fullPath = item.fullPath
        this.folders.push(folder)
      } else if (item.isFile) {
        const fullPath = path.splice(0, (path.length - 1)).join('/')
        const parentId = this.folders.find(item => item.fullPath === fullPath)?.id || this.parentId
        const data = new FormData()
        data.append('folder_id', parentId)
        try {
          await new Promise.all(item.file(async (file) => {
            data.append('file', file)
            try {
              self.loading = true
              await self.$axios.post('file/add', data)
              self.loading = false
            } catch {}
          }))
        } catch {}
      }
      await this.timeoutz(1500)
      this.stateLine = this.stateLine + jump
      if (Math.round(this.stateLine - 1) === 100) {
        await this.timeoutz(500)
        this.$ziad.alert({ status: true, msg: 'تم رفع الملفات بنجاح وجاري المراجعة .. ', color: 'success' })
        this.stateLine = 0
        this.items = []
        this.folders = []
        this.successMessage = true
        // this.$emit('fetch')
      }
    }
  }
}
</script>

<style>
#dropzone {
  text-align: center;
  width: 100%;
  height: 190px;
  opacity: 0.6;
  border: 4px dashed rgb(176, 190, 201) !important;
  border-radius: 20px;
}
#dropzone:hover{
    cursor: pointer;
    opacity: 1;
}

#boxtitle {
  text-align: center;
  margin-top: 55px;
}
</style>
