<template>
  <v-row justify="center" align="center" class="h100">
    <v-progress-circular
      size="80"
      color="primary"
      width="6"
      indeterminate
    />
  </v-row>
</template>

<script>
export default {
  layout: 'auth',

  async created () {
    const token = await this.$route.params.token
    await this.setCookie(token)
    this.go()
  },
  methods: {
    go () {
      window.location.href = '/'
    },
    async setCookie (token) {
      const d = new Date()
      d.setTime(d.getTime() + (365 * 24 * 60 * 60 * 1000))
      const expires = 'expires=' + d.toUTCString()
      document.cookie = await 'auth._token.local=Bearer ' + token + ';' + expires + '; path=/'
      document.cookie = await 'auth._token_expiration.local=' + d.getTime() + ';' + expires + '; path=/'
      await this.timeoutz(1000)
    }

  }
}
</script>

<style>
.h100{
  min-height: 100vh;
}
</style>
