<template>
  <v-snackbar
    v-model="status"
    :color="alert.color"
    :timeout="alert.timeout"
    rounded="xl"
    content-class="pa-2"
    top
  >
    <div class="title pa-0">
      <v-icon v-if="alert.icon" small>
        {{ alert.icon }}
      </v-icon>
      {{ alert.msg }}
    </div>
  </v-snackbar>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'AlertNotifi',
  data () {
    return {
      status: false
    }
  },
  computed: {
    ...mapGetters({
      alert: 'alert/Alert'
    })
  },
  watch: {
    alert () {
      this.status = true
    }
  }
}
</script>

<style >
.v-snack__wrapper{
  min-width: 200px  ;
  max-width: 300px  !important;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
}
</style>
