<template>
  <v-dialog
    v-model="load"
    persistent
    width="90"
    overlay-color="primary"
    class="opacity"
  >
    <v-card :color="color" dark>
      <v-card-title>
        <!-- {{ msg }} -->
        <v-progress-circular
          size="60"
          color="white"
          width="6"
          indeterminate
        />
      </v-card-title>
    </v-card>
  </v-dialog>
</template>

<script>
// import { LoopingRhombusesSpinner } from 'epic-spinners'
import { mapGetters } from 'vuex'
export default {
  name: 'LoadingScreen',
  components: {
    // LoopingRhombusesSpinner
  },
  data () {
    return {
      loading: false,
      message: 'لحظة من فظلك'
    }
  },
  computed: {
    ...mapGetters({
      load: 'loadingz/load',
      msg: 'loadingz/message',
      color: 'loadingz/color'
    })
  }
}
</script>
<style scoped>

</style>
