<template>
  <v-row class="my-5" justify="center">
    <div class="text-center">
      <v-img src="/image/no_data.svg" max-width="180" />
      <h2 class="grey--text text--lighten-1 mt-2 ">
        لا توجد عناصر
      </h2>
    </div>
  </v-row>
</template>
