<template>
  <div v-if="folders">
    <h3>قائمة الانتظار</h3>
    <v-list v-if="folders.length">
      <template v-for="(folder ) in folders">
        <v-list-group :key="folder.id">
          <template #activator>
            <v-list-item-title>
              <h3>{{ folder.name }}</h3>
            </v-list-item-title>
          </template>
          <v-card elevation="0">
            <v-card-subtitle>
              الاب : {{ folder.parent_name }}
            </v-card-subtitle>
            <v-card-subtitle>
              الناشر : {{ folder.first_name }} {{ folder.last_name }}
            </v-card-subtitle>
            <!-- <v-card-subtitle>
              النوع : {{ folder.material ? 'مادة' : 'مجلد' }}
            </v-card-subtitle> -->
            <v-row justify="center" class="mx-5 mb-3">
              <v-col>
                <v-btn v-bind="btn" color="success" @click="acceptFolder(folder.id , true)">
                  قبول الكل
                </v-btn>
              </v-col>
              <v-col>
                <v-btn v-bind="btn" :disabled="(Boolean)(folder.visible)" color="success" @click="acceptFolder(folder.id , false)">
                  قبول المجلد
                </v-btn>
              </v-col>
            </v-row>
            <v-divider />
            <v-card-title>الملفات</v-card-title>
            <v-card-text>
              <v-list-item v-for="file in folder.files_wait" :key="file.id">
                <v-list-item-content>
                  <v-list-item-title>
                    <a :href="`${baseUrl}/${file.path}`" target="blank">
                      <h3>{{ file.name.substr(0, 30) }}</h3>
                    </a>
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    {{ file.first_name }} {{ file.last_name }}
                  </v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-action>
                  <v-btn v-bind="btn" color="success" @click.stop="z">
                    قبول
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
            </v-card-text>
          </v-card>
        </v-list-group>
      </template>
    </v-list>
    <v-row v-else justify="center">
      <no-data class="mt-16 pt-12" />
    </v-row>
  </div>
</template>

<script>
import NoData from '~/components/NoData.vue'
export default {
  name: 'WaitState',
  components: { NoData },
  middleware: 'admin',
  data () {
    return {
      folders: null,
      baseUrl: process.env.baseUrl
    }
  },
  async fetch () {
    this.folders = await this.get('folder/wait')
  },
  head () {
    return {
      title: 'انتظار'
    }
  },
  methods: {
    async acceptFolder (id, withFiles) {
      await this.post('folder/accept', { id, withFiles })
      this.$fetch()
    }
  }
}
</script>

<style>

</style>
