<template>
  <div>
    <div class="head" />
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#8683f3" fill-opacity="1" d="M0,192L40,170.7C80,149,160,107,240,122.7C320,139,400,213,480,234.7C560,256,640,224,720,224C800,224,880,256,960,272C1040,288,1120,288,1200,277.3C1280,267,1360,245,1400,234.7L1440,224L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z" /></svg>
    <v-row justify="center">
      <v-col md="4" sm="8" cols="12">
        <v-card-title class="justify-center">
          <v-img src="/image/logo.svg" max-width="90" />
        </v-card-title>

        <v-card-text>
          <v-text-field
            v-model="login.username"
            label="اسم المستخدم"
            append-icon="mdi-account"
            autofocus
            v-bind="textInput"
          />
          <v-text-field
            v-model="login.password"
            type="password"
            label="كلمة السر"
            v-bind="textInput"
            append-icon="mdi-eye-off"
          />
          <v-btn v-bind="btn" color="primary" @click="loginApp">
            تسجيل الدخول
          </v-btn>
        </v-card-text>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  name: 'LoginPage',
  layout: 'auth',
  middleware: 'guest',
  data () {
    return {
      login: {
        username: null,
        password: null
      },
      shPass: false

    }
  },
  methods: {
    async loginApp () {
      this.$ziad.loading({ status: true })
      try {
        await this.$auth.loginWith('local', {
          data: this.login
        })
        window.location.href = '/'
        await this.$ziad.timeout(1000)
        this.$ziad.alert({ status: true, msg: 'مرحبا بعودتك' })

      } catch {
        this.$ziad.alert({ status: true, msg: 'خطأ في اسم المستخدم او كلمة السر', color: 'error' })
      } finally {
        this.$ziad.loading({ status: false })
      }
    }
  }
}
</script>
<style scoped>
.fh{
    min-height: 100vh;
}
.shadowz{
    box-shadow: 0 2px 6px -4px rgba(43, 72, 236, 0.33) !important;
}
.head{
  background-color: #8683f3;
  min-height: 100px;
}
@media only screen and (min-width: 900px) {
 .head{
   display: none;
}
}

</style>
