<template>
  <v-row justify="center" align="center" class="h100">
    <v-progress-circular
      size="80"
      color="primary"
      width="6"
      indeterminate
    />
  </v-row>
</template>

<script>
export default {
  name: 'LogoutPage',
  layout: 'empty',
  created () {
    this.logouta()
  },
  methods: {
    async logouta () {
      await this.$auth.logout()
      window.location.href = '/auth/login'
    }
  }
}
</script>

<style>

</style>
