<template>
  <div>
    <v-row justify="center" class="mt-16">
      <v-avatar size="110" class="my-1" color="grey lighten-2">
        <v-img v-if="user.avatar" max-height="105" max-width="105" :src="user.avatar" />
        <h2 v-else>
          {{ user.first_name.substr(0,2) }}
        </h2>
      </v-avatar>
    </v-row>
    <h2 class="text-center mt-4 mb-2 warning--text text--lighten-2">
      {{ user.first_name }} {{ user.last_name }}
    </h2>
    <p class="white--text mb-6">
      اهلا بك , سعداء لانضمامك الينا , نعتقد ان هذا اول دخول لك ومن اجل افضل تجربة ولتتمكن من تسجيل الدخول لاحقاً من اي متصفح , يرجى ادخل كلمة سر جديدة لحسابك , علماً ان اسم المستخدم الخاص بك هو : <strong class="warning--text text--lighten-2"> {{ user.username }} </strong>
    </p>
    <v-row justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-form ref="form" @submit.prevent="setPassword">
          <v-text-field
            v-bind="textInput"
            v-model="password"
            :rules="[...min6Char]"
            background-color="#fff"
            append-icon="mdi-key"
            label="كلمة السر الجديدة"
          />
          <v-btn v-bind="btn" color="success" type="submit">
            حفظ ودخول
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'NewPassword',
  layout: 'firstLogin',
  data () {
    return {
      password: null
    }
  },
  methods: {
    async setPassword () {
      if (!this.$refs.form.validate()) { return }
      await this.post('/setPassword', { password: this.password })
      window.location.href = '/'
    }
  }
}
</script>

<style scoped>

</style>
