<template>
  <div v-if="userData && analysis">
    <h3>اعدادات الحساب</h3>
    <v-card class="shadowz my-4">
      <v-card-text>
        <h3> الحساب</h3>
        <span dir="ltr" class="grey--text text-right">
          # {{ userData.username }}
        </span>
        <v-row justify="center">
          <v-avatar size="110" color="grey lighten-2">
            <v-img v-if="user.avatar" :src="`${user.avatar}`" />
            <v-img v-else src="/image/avatar/user.svg" />
          </v-avatar>
        </v-row>
        <v-row>
          <v-col cols="12" md="6" class="py-0 mt-5">
            <v-text-field v-bind="textInput" v-model="userData.first_name" label="الاسم الاول" />
          </v-col>
          <v-col cols="12" md="6" class="py-0 mt-md-5">
            <v-text-field v-bind="textInput" v-model="userData.last_name" label="العائلة" />
          </v-col>
        </v-row>
        <v-row>
          <v-col class="text-center">
            <h4>المجلدات</h4>
            <h4 class="grey--text text--lighten-1">
              {{ analysis.folders }}
            </h4>
          </v-col>
          <v-divider vertical />

          <v-col class="text-center">
            <h4>الملفات</h4>
            <h4 class="grey--text text--lighten-1">
              {{ analysis.files }}
            </h4>
          </v-col>
          <v-divider vertical />

          <v-col class="text-center">
            <h4>الاشتراكات</h4>
            <h4 class="grey--text text--lighten-1">
              {{ analysis.subscription }}
            </h4>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-btn v-bind="btn" color="success" @click="update">
      حفظ الاعدادات
    </v-btn>
    <!-- <v-card class="shadowz">
      <v-card-text>
        <h4>بوت تلغرام</h4>
        <v-switch v-model="allFolderAccept" label="عرض المواد التي تم الاشتراك بها فقط" />
        <v-switch v-model="addMaterialNotifi" label="استقبال اشعارات عند اضافة مادة جديدة" />
      </v-card-text>
    </v-card> -->
    <!-- <v-footer absolute>

    </v-footer> -->
  </div>
</template>

<script>
export default {
  name: 'SettingProfile',
  data () {
    return {
      allFolderAccept: false,
      addMaterialNotifi: true,
      userData: null,
      analysis: null
    }
  },
  async fetch () {
    this.analysis = await this.get('analysis')
  },
  head () {
    return {
      title: this.user?.first_name || ''
    }
  },
  created () {
    this.userData = { ...this.user }
  },
  methods: {
    async update () {
      await this.post('/updateProfile', {
        first_name: this.userData.first_name,
        last_name: this.userData.last_name
      })
    }
  }
}
</script>

<style>

</style>
