<template>
  <v-app class="appz">
    <loading />
    <alert />
    <v-main>
      <v-container fluid class=" pa-0">
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Alert from '~/components/Alert.vue'
import Loading from '~/components/Loading.vue'

export default {
  name: 'AuthLayout',
  components: {
    Loading,
    Alert
  },
  middleware: 'guest',
  data () {
    return {
    }
  }
}
</script>
<style scoped>
.appz{
  /* 6348da */
    background: var(--v-primary-base);
    min-height: 100%;
}
</style>
