<template>
  <v-app>
    <loading />
    <alert />
    <AppBar />
    <v-main class="bg">
      <v-container class="px-5">
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Alert from '~/components/Alert.vue'
import Loading from '~/components/Loading.vue'
import AppBar from '~/components/User/AppBar.vue'
export default {
  name: 'DefaultLayout',
  components: {
    AppBar,
    Loading,
    Alert
  },
  middleware: ['auth' , 'notFirst']
}
</script>
<style>

.v-application {
    font-family: 'Tajawal', 'sans-serif' !important;

}
.v-application a {
    color: inherit !important;
    text-decoration: none;
}
.theme--light.v-application {
  color: #607d8b ;
}
.cart{
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;
  opacity: 0.95;
  width: 100%;
  z-index: 11;
}
.bg{
  background: #e2e7f3;
}
.shadowz{
    /* box-shadow: 0 2px 6px -4px rgba(43, 72, 236, 0.33) !important; */
    box-shadow: 0 4px 20px -8px rgba(20, 20, 20, 0.23) !important;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #38214f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #090229;
}
</style>
