<template>
  <v-app dark class="ma-0 pa-0">
    <div class="ma-auto text-center">
      <Nuxt />
    </div>
  </v-app>
</template>

<script>
export default {
  name: 'EmptyLayout',

  data () {
    return {

    }
  }

}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
