<template>
  <v-app dark class="ma-0 pa-0">
    <div class="ma-auto text-center">
      <h1 v-if="error.statusCode === 404" class="grey--text">
        <v-img src="/image/bug.svg" max-width="300" class="mb-3" />

        {{ pageNotFound }}
      </h1>
      <h1 v-else class="grey--text">
        <v-img src="/image/bug.svg" max-width="300" class="mb-3" />
        {{ otherError }} {{ error.statusCode }}
      </h1>
      <v-btn
        nuxt
        to="/"
        rounded
        color="primary"
        large
        class="mt-4"
      >
        الرئيسية
      </v-btn>
    </div>
  </v-app>
</template>

<script>
export default {
  name: 'ErrorLayout',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      pageNotFound: '404 صفحة غير موجودة',
      otherError: 'خطأ غير متوقع'
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
