<template>
  <div v-if="folder">
    <!--  -->
    <v-row class="my-2">
      <h2>
        {{ folder.name }}
      </h2>
      <v-spacer />

      <v-btn icon :to="folder.parent_id ? '/folder/'+folder.parent_id : '/'">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
    </v-row>
    <!-- <template v-if="folder.material">
      <v-btn v-if="!folder.fav" rounded color="error" elevation="0" @click="subscription">
        <v-icon>mdi-bell</v-icon>
        اشتراك
      </v-btn>
      <v-btn
        v-else
        rounded
        color="success "
        outlined
        elevation="0"
        @click="subscription"
      >
        <v-icon>mdi-bell-check</v-icon>
        مشترك
      </v-btn>
    </template> -->
    <v-divider class="my-4" />
    <v-text-field v-model="search" v-bind="textInput" append-icon="mdi-magnify" style="max-width: 400px" label="بحث" />
    <v-row>
      <v-col cols="12" md="6">
        <!-- <h3 class="mt-0 mb-4">
          # المجلدات
        </h3> -->
        <v-row>
          <v-col cols="6" sm="4" class="pa-0 text-center">
            <add-folder :parent-id="folder.id" @refresh="$fetch()" />
          </v-col>
          <v-col
            v-for="item in folderFilter"
            :key="item.id"
            class="pa-0"
            cols="6"
            sm="4"
          >
            <folder :folder="item" @refresh="$fetch()" />
          </v-col>
        </v-row>
      </v-col>
      <v-col v-show="!$vuetify.breakpoint.xs">
        <upload-drop :parent-id="folder.id" @fetch="$fetch()" />
      </v-col>
    </v-row>
    <v-divider class="my-3 mb-5" />
    <!-- <h3 class="mt-8 mb-4">
      # الملفات
    </h3> -->
    <v-row class="mb-12" justify="center">
      <v-col
        v-for="file in fileFilter"
        :key="file.id"
        class="pa-0"
        cols="12"
        sm="6"
      >
        <file :file="file" class="mx-sm-2" @fetch="$fetch()" />
      </v-col>
    </v-row>
    <move-cart :id="Number($route.params.id)" @refresh="$fetch()" />
    <add-btn :parent-id="folder.id" @refresh="$fetch()" />
  </div>
</template>

<script>
import AddBtn from '~/components/User/AddBtn.vue'
import AddFolder from '~/components/User/AddFolder.vue'
import File from '~/components/User/File.vue'
import Folder from '~/components/User/Folder.vue'
import MoveCart from '~/components/User/MoveCart.vue'
import UploadDrop from '~/components/User/UploadDrop.vue'
export default {
  components: { Folder, AddFolder, MoveCart, File, AddBtn, UploadDrop },
  data () {
    return {
      folder: null,
      search: ''
    }
  },
  async fetch () {
    this.folder = await this.get('folder/all/' + this.$route.params.id)
    if (this.folder === null) {
      window.location.href = '/'
    }
  },
  computed: {
    folderFilter () {
      if (this.folder) {
        return this.folder.folders.filter(item => item.name.includes(this.search))
      }
      return []
    },
    fileFilter () {
      if (this.folder) {
        return this.folder.files.filter(item => item.name.includes(this.search))
      }
      return []
    }
  },
  head(){
    return{
      title: this.folder?.name || ''
    }
  },
  methods: {
    async subscription () {
      await this.post('/folder/subscription', { id: this.folder.id })
      this.$fetch()
    }
  }

}
</script>

<style>

</style>
