<template>
  <div>
    <v-app-bar
      color="primary"
      dark
      class="shadowz"
      app
    >
      <v-app-bar-nav-icon @click="state = !state" />
      <v-row class="mr-1">
        <client-only>
          <v-btn
            v-if="!loggedInUser"
            small
            rounded
            elevation="0"
            color="warning"
            to="/auth/login"
            nuxt
          >
            تسجيل الدخول
          </v-btn>
        </client-only>
      </v-row>
      <v-spacer />
      <!-- <v-app-bar-title>
        <v-text-field v-bind="textInput" placeholder="بحث" append-icon="mdi-magnify" class="mt-6" />
      </v-app-bar-title> -->
    </v-app-bar>
    <navigition
      :state="
        state"
      @setState="setState"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Navigition from './Navigition.vue'
export default {
  name: 'AppBarAdmin',
  components: {
    Navigition
  },
  data () {
    return {

      state: false

    }
  },
  computed: {
    ...mapGetters(['loggedInUser'])

  },
  fetchOnServer: false,
  methods: {
    setState (val) {
      this.state = val
    },

    async logout () {
      await this.$auth.logout()
      window.location.href = '/auth/login'
    }

  }
}
</script>

<style scoped>
.search-div{
  position: fixed;
  width: 300px;
  border: 2px solid #efefef;
  top: 70px;
  left: 5px;
}
</style>
