<template>
  <div>
    <v-navigation-drawer
      v-model="seState"
      width="280"
      dark
      color="primary"
      class="shadowz rounded-bl-lg"
      fixed
      right
      app
    >
      <client-only>
        <v-card v-if="user" color="transparent" flat>
          <v-row justify="center" class="pt-12">
            <v-avatar color="warning" size="52">
              <v-img v-if="user.avatar" :src="`${baseUrl}/${user.avatar}`" max-width="47" max-height="47" />
            </v-avatar>
          </v-row>
          <v-card-title class="justify-center">
            <v-col class="text-center">
              <h3 class="text-center white--text">
                {{ user.full_name }}
              </h3>
              <v-btn
                x-small
                rounded
                color="warning"
                elevation="0"
                @click="logouta"
              >
                تسجيل الخروج
              </v-btn>
            </v-col>
          </v-card-title>
          <v-divider />
        </v-card>
        <v-list rounded class="mt-8">
          <template v-for="(item ,index) in items">
            <v-list-item
              v-if="!item.auth || item.auth === user.type"
              :key="item.to"
              exact-path
              :to="item.to"
              dense
            >
              <v-list-item-avatar height="30px">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-avatar>

              <v-list-item-content class="my-0 py-0">
                <v-list-item-title>{{ item.title }} </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-group v-else-if="item.items" :key="index" active-class="white--text">
              <template #activator>
                <v-list-item-avatar height="30px">
                  <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-avatar>

                <v-list-item-content class="my-0 py-0">
                  <v-list-item-title>
                    {{ item.title }}
                  </v-list-item-title>
                </v-list-item-content>
              </template>
              <template v-for="itemg in item.items">
                <v-list-item
                  :key="itemg.to"
                  exact-path
                  :to="itemg.to"
                  dense
                  active-class="white--text"
                  class="mr-5"
                >
                  <v-list-item-avatar height="30px">
                    <v-icon>{{ itemg.icon }}</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content class="my-0 py-0">
                    <v-list-item-title>{{ itemg.title }} </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-list-group>
          </template>
        </v-list>
      </client-only>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: 'NavBar',
  props: {
    state: {
      type: Boolean
    }
  },
  data () {
    return {

      items: [
        { title: 'الرئيسية', icon: 'mdi-home', to: '/' },
        { title: 'المنصات', icon: 'mdi-robot-happy', to: '/cpanel/bot/all', auth: 'owner' },
        { title: 'منصة جديدة', icon: 'mdi-robot-love-outline', to: '/cpanel/bot/add', auth: 'owner' }

      ]
    }
  },
  computed: {
    seState: {
      get () {
        return this.state
      },
      set (val) {
        this.$emit('setState', val)
      }
    }
  },
  methods: {
    async logouta () {
      await this.$auth.logout()
      window.location.href = '/'
    }
  }
}
</script>
