<template>
  <v-card color="primary" class="shadowz white--text" rounded="xl">
    <v-card-title>
      <h4>
        مرحبا بعودتك حضرت المدير
      </h4>
    </v-card-title>
    <v-card-text>
      <p>
        هل تود الانتقال الى لوحة التحكم ؟
      </p>
    </v-card-text>
    <v-card-actions>
      <v-btn v-bind="btn" color="success" class="mb-3">
        لوحة التحكم
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {

}
</script>

<style>

</style>
