<template>
  <div v-if="folders">
    <v-row justify="center" class="mt-5">
      <v-img :src="user.bot.logo" max-width="125" />
    </v-row>
    <v-row justify="center">
      <h3>{{ user.bot.name }}</h3>
    </v-row>

    <v-row align="center" class="mt-md-8">
      <v-col cols="12" md="6">
        <!-- <h3 class="mb-4">
          # المجلدات
        </h3> -->
        <v-row>
          <v-col cols="6" sm="4" class="pa-0 text-center">
            <add-folder @refresh="$fetch()" />
          </v-col>
          <v-col
            v-for="folder in folders.folders"
            :key="folder.id"
            class="pa-0"
            cols="6"
            sm="4"
          >
            <folder :folder="folder" @refresh="$fetch()" />
          </v-col>
        </v-row>
      </v-col>

      <v-col v-show=" !$vuetify.breakpoint.xs" cols="12" md="6">
        <upload-drop @fetch="$fetch()" />
      </v-col>
    </v-row>
    <!-- <h3 class="mt-8 mb-4">
      # الملفات
    </h3> -->
    <v-row class="mb-12">
      <v-col
        v-for="file in folders.files"
        :key="file.id"
        class="pa-0"
        cols="12"
        sm="6"
      >
        <file :file="file" class="mx-sm-2" @fetch="$fetch()" />
      </v-col>
    </v-row>

    <move-cart @refresh="$fetch()" />
    <add-btn @refresh="$fetch()" />
  </div>
</template>

<script>
import AddBtn from '~/components/User/AddBtn.vue'
import AddFolder from '~/components/User/AddFolder.vue'
import File from '~/components/User/File.vue'
import Folder from '~/components/User/Folder.vue'
import MoveCart from '~/components/User/MoveCart.vue'
import UploadDrop from '~/components/User/UploadDrop.vue'
export default {
  name: 'IndexPage',
  components: { Folder, AddFolder, MoveCart, AddBtn, File, UploadDrop },
  data () {
    return {
      folders: null

    }
  },
  head(){
    return{
      title: 'الرئيسية'
    }
  },
  async fetch () {
    this.folders = await this.get('folder/all/0')
    if (this.user.bot === null) {
      window.location.href = '/botNotFound'
    }
  }

}
</script>

<style>

</style>
